<div class="app flex-row align-items-center loginback">
  <div class="container">
    <img class="login-logocenter" src="../assets/img/pmrlogo.png" alt="logo">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" placeholder="Email" #email>
              </div>
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" #password>
              </div>
              <div class="col-12 errorMsg">{{errorMsg}}</div>
              <div class="row">
                <div class="col-12">

                 <!-- <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/dashboard">Login</button>-->
                 <button type="button" class="btn btn-primary btn-lg btn-block" (click)="doAdminLogin(email.value, password.value)">Login</button>
                </div>
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
