<table class="table table-hover table-outline mb-0 hidden-sm-down-new">
    <thead class="thead-default">
        <tr>
            <th class="text-center"><i class="icon-people"></i></th>
            <th class="text-center">Booking Id</th>
            <th class="text-center">Customer</th>
            <th class="text-center">Pick Up Location</th>
            <th class="text-center">Drop Location</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Status</th>
            
             <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of cBooking let i = index;">
            <td class="text-center">
                <div class="avatar">
                    <span class="avatar-status badge-success"></span>
                </div>
            </td>
             <td class="text-center"> 
                <div>{{user.bookingKey}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td class="text-center"> 
                <div>{{user.customer_name}}</div>
                    <div class="small text-muted">
                </div>
            </td>
             <td class="text-center"> 
                <div>{{user.pickup ? user.pickup.add : " "}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td class="text-center"> 
                <div>{{user.drop ? user.drop.add : " "}}</div>
                    <div class="small text-muted">
                </div>
            </td>   
             <td class="text-center"> 
                <div>{{user.trip_cost ? user.trip_cost +  "$" : ""}}</div>
                    <div class="small text-muted">
                </div>
            </td> 
            <td class="text-center"> 
                <div>{{user.status}}</div>
                    <div class="small text-muted">
                </div>
            </td>  
             <td class="text-center" (click)="deleteBookView(i)">
                  <i class="fa fa-times danger"></i>
                </td> 
        </tr>
    </tbody>
</table>

<table class="table table-hover table-outline mb-0 hidden-sm-up-new">
    <thead class="thead-default">
        <tr>
            <th class="text-center"><i class="icon-people"></i></th>
            <!--<th class="text-center">Booking Id</th>-->
            <th>Customer</th>
            <!--<th class="text-center">Pick Up Location</th>
            <th class="text-center">Drop Location</th>
            <th class="text-center">Amount</th>-->            
            <th class="text-center">Status</th>
            <th class="text-center">View More</th>
                <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of cBooking let i = index;">
            <td class="text-center">
                <div class="avatar">
                    <img src={{user.customer_image}} class="img-avatar" alt="">
                    <span class="avatar-status badge-success"></span>
                </div>
            </td>
            <!--<td>
                <div>{{user.bookingKey}}</div>
                    <div class="small text-muted">
                </div>
            </td>-->
            <td class="text-center">
                <div>{{user.customer_name}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <!--<td>
                <div>{{user.pickup.add}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.drop.add}}</div>
                    <div class="small text-muted">
                </div>
            </td>   
            <td>
                <div>{{user.trip_cost ? user.trip_cost +  "$" : ""}}</div>
                    <div class="small text-muted">
                </div>
            </td>--> 
            <td class="text-center">
                <div>{{user.status}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td class="text-center" (click)="cBookView(i)">
                <i class="fa fa-eye"></i>
            </td>  
             <td class="text-center" (click)="deleteBookView(i)">
                  <i class="fa fa-times danger"></i>
                </td>  
        </tr>
    </tbody>
</table>

<popup  #popup5 (confirmClick)="updateUser()" class="responsive_popup">
    <div>
        <p><b>Booking Id</b>  {{userData.bookingKey}}</p>
        <p><b>Pick Up Location</b> - {{addPickup}}</p>
        <p><b>Drop Location</b> - {{addDrop}}</p>
        <p><b>Amount</b> - {{userData.trip_cost ?  "$" + userData.trip_cost : ""}}</p>
    </div>
  </popup>
  <popup  #popup1 (confirmClick)="deleteBooking()" class="responsive_popup warning-div">
    <div >
       <p style="text-align:center;">Are you sure you want to delete this booking?</p>
    </div>
  </popup>