<table class="table table-hover table-outline mb-0 hidden-sm-down-new">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Driver</th>
                <th>Ratings</th>
                <th class="text-center">Edit Driver</th>

                <th class="text-center">Driver Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let driver of driverData let i = index;">
                <td class="text-center">
                  <div class="avatar">
                    <img src={{driver.profile_image}} class="img-avatar" alt="">
                   <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>{{driver.fullname}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
      
                <td>
                  <div>{{driver.avgRating}}</div>
                  <div class="small text-muted">
                  </div>
                </td>

                <td class="text-center" (click)="editDriverForm(i)">
                  
                  <i class="fa fa-pencil"></i>
                </td>
                <td class="text-center" (click)="changeDriverStatus(i)">
                  <button >{{driver.active ? "Deactivate" : "Activate"}}
                   <!-- <i class="fa fa-trash-o"></i>{{user.active}}-->
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

<table class="table table-hover table-outline mb-0 hidden-sm-up-new">
  <thead class="thead-default">
    <tr>
      <th class="text-center"><i class="icon-people"></i></th>
      <th>Driver</th>
      <!--<th>Ratings</th>-->
      <th class="text-center">Edit Driver</th>

      <th class="text-center">Driver Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of driverData let i = index;">
      <td class="text-center">
        <div class="avatar">
          <img src={{driver.profile_image}} class="img-avatar" alt="">
          <span class="avatar-status badge-success"></span>
        </div>
      </td>
      <td>
        <div>{{driver.fullname}}</div>
        <div class="small text-muted">
        </div>
      </td>

      <!--<td>
        <div>{{driver.avgRating}}</div>
        <div class="small text-muted">
        </div>
      </td>-->

      <td class="text-center" (click)="DriverDetailsForm(i)">
        
        <i class="fa fa-pencil"></i>
      </td>
      <td class="text-center" (click)="changeDriverStatus(i)">
        <button >{{driver.active ? "Deactivate" : "Activate"}}
          <!-- <i class="fa fa-trash-o"></i>{{user.active}}-->
        </button>
      </td>
    </tr>
  </tbody>
</table>          
 

    <popup  #popup5 (confirmClick)="updateUser()" class="responsive_popup">
          <form class="form-horizontal popup_from">
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" name="fullname" [(ngModel)]="userData.fullname" id="name" placeholder="Enter your full name">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                <input type="email" class="form-control" name="email" [(ngModel)]="userData.email" id="email" placeholder="Enter your email">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                 <input type="email" class="form-control" name="phone" [(ngModel)]="userData.phone" id="phone" placeholder="Enter your phone number">
                </div>
                </div>
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="city" [(ngModel)]="userData.cityname" id="city" placeholder="Enter your City">
                </div>
               </div>
               <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="vehicle" [(ngModel)]="userData.vehicle" id="vehicle" placeholder="Enter your vehicle ">
                </div>
               </div>  
        </form>      
  </popup>

  <popup  #popup6 (confirmClick)="updateUser()" class="responsive_popup">
    <div>
      <p><b>Ratings</b> - {{userData.avgRating}}</p>
    </div>
          <form class="form-horizontal popup_from">
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" name="fullname" [(ngModel)]="userData.fullname" id="name" placeholder="Enter your full name">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                <input type="email" class="form-control" name="email" [(ngModel)]="userData.email" id="email" placeholder="Enter your email">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                 <input type="email" class="form-control" name="phone" [(ngModel)]="userData.phone" id="phone" placeholder="Enter your phone number">
                </div>
                </div>
            <div class="form-group" >
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="city" [(ngModel)]="userData.cityname" id="city" placeholder="Enter your City">
                </div>
               </div>
               <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="vehicle" [(ngModel)]="userData.vehicle" id="vehicle" placeholder="Enter your vehicle ">
                </div>
               </div>  
        </form>      
  </popup>