<sebm-google-map [latitude]="-26.0940491" [longitude]="136.0296683"  [zoom]="5">
        <sebm-google-map-marker *ngFor="let user of onlineUser; let i = index" [latitude]="user.location.lat" [longitude]="user.location.lng">
            <sebm-google-map-info-window>
                <strong>{{user.fullname}}</strong>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
    </sebm-google-map>