<table class="table table-hover table-outline mb-0 hidden-sm-down-new">
    <thead class="thead-default">
        <tr>
            <th class="text-center"><i class="icon-people"></i></th>
            <th class="text-center">Booking Id</th>
            <th>customer</th>
            <th>Driver</th>
            <th class="text-center">Pick Up Location</th>
            <th class="text-center">Drop Location</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of pBooking let i = index;">
            <td class="text-center">
                <div class="avatar">
                    <img src={{user.customer_image}} class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </td>
            <td>
                <div>{{user.bookingKey}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.customer_name}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.driver_name}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.pickup? user.pickup.add : " "}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.drop ? user.drop.add : " "}}</div>
                    <div class="small text-muted">
                </div>
            </td>  
            <td>
                <div>{{user.trip_cost ? user.trip_cost +  "$" : ""}}</div>
                    <div class="small text-muted">
                </div>
            </td>  
            <td>
                <div>{{user.status}}</div>
                    <div class="small text-muted">
                </div>
            </td>  
        </tr>
    </tbody>
</table>



<table class="table table-hover table-outline mb-0 hidden-sm-up-new">
    <thead class="thead-default">
        <tr>
            <th class="text-center"><i class="icon-people"></i></th>
            <!--<th class="text-center">Booking Id</th>-->
            <th>customer</th>
            <!--<th>Driver</th>
            <th class="text-center">Pick Up Location</th>
            <th class="text-center">Drop Location</th>
            <th class="text-center">Amount</th>-->
            <th class="text-center">Status</th>
            <th class="text-center">View More</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of pBooking let i = index;">
            <td class="text-center">
                <div class="avatar">
                    <img src={{user.customer_image}} class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                </div>
            </td>
            <!--<td>
                <div>{{user.bookingKey}}</div>
                    <div class="small text-muted">
                </div>
            </td>-->
            <td class="text-center">
                <div>{{user.customer_name}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <!--<td>
                <div>{{user.driver_name}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.pickup.add}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td>
                <div>{{user.drop.add}}</div>
                    <div class="small text-muted">
                </div>
            </td>  
            <td>
                <div>{{user.trip_cost ? user.trip_cost +  "$" : ""}}</div>
                    <div class="small text-muted">
                </div>
            </td>-->
            <td class="text-center">
                <div>{{user.status}}</div>
                    <div class="small text-muted">
                </div>
            </td>
            <td class="text-center" (click)="pBookView(i)">
                <i class="fa fa-eye"></i>
            </td>
        </tr>
    </tbody>
</table>


<popup  #popup5 (confirmClick)="updateUser()" class="responsive_popup">
    <div>
        <p><b>Booking Id</b>  {{userData.bookingKey}}</p>
        <p><b>Driver</b> - {{userData.driver_name}}</p>
        <p><b>Pick Up Location</b> - {{addPickup}}</p>
        <p><b>Drop Location</b> - {{addDrop}}</p>
        <p><b>Amount</b> - {{userData.trip_cost ?  "$" + userData.trip_cost : ""}}</p>
    </div>
  </popup>

<!--
<div class="card-block">
    <input type="text" placeholder="please enter your Firstname" #titleInput>
     <input type="text" placeholder="please enter your Lastname" #title1Input>
  <button type="submit" (click) = 'addTodo(titleInput.value, title1Input.value)'>Add</button>

</div>-->