<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>App Promo Code</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Promo Code</label>
                <input type="text" class="form-control"  placeholder="Enter Promo Code" [(ngModel)]="promoName">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Promo Code Description</label>
                <input type="text" class="form-control"  placeholder="Enter Promo code Description" [(ngModel)]="promoDesc">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Promo Code type</label>
                <select placeholder="Select coupon type" class="form-control" name="sel" 
                    [(ngModel)]="selectedcoupon" (ngModelChange)="updateWorkout($event)">
                    <option [value]="Select" disabled>Select</option>
                    <option *ngFor="let coupon of coupons" [ngValue]="coupon">
                        {{coupon.name}}
                    </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Promo Code Value</label>
                <input type="text" class="form-control"  placeholder="Enter Promo Code Value" [(ngModel)]="promoValue">
              </div>
            </div>
          </div>



          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addPromoCode()">Add Promo Code</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>