<div class="animated fadeIn">
  <div class="row">

 <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Pickup</strong>
        </div>
        <div class="card-block">

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Pickup Base KMs</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="pickup_base_km">
              </div>
            </div>
          </div>
         <!-- <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Pickup Rate Per Hour</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="pickup_hour">
              </div>
            </div>
          </div>-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Pickup Rate Per KM</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="pickup_km">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Pickup Rate Per Minute</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="pickup_minute">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Pickup Minimum Charge</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="pickup_minimum">
              </div>
            </div>
          </div>
          <!--/.row-->

        </div>
      </div>
    </div>





    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Personal</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Personal Driver Hourly Rate</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="personal_hour">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Personal Driver Minimum Charge</label>
                <input type="text" class="form-control"  placeholder="Amount" [(ngModel)]="personal_minimum">
              </div>
            </div>
          </div>
          <!--/.row-->
         <!-- <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="changeSave()">Save Changes</button>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <button type="button" class="submit btn btn-primary btn-lg" (click)="changeSave()">Save Changes</button>

  </div>
</div>