<table class="table table-hover table-outline mb-0 hidden-sm-down-new">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th class="text-center">User</th>
                <th class="text-center">Email</th>
                <th class="text-center">Contact No</th>
                <!-- <th class="text-center">Vehicle No</th> -->
                <th class="text-center">Edit User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data let i = index;">
                <td class="text-center">
                  <div class="avatar">
                    <img src={{user.profile_image}} class="img-avatar" alt="">
                   <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td class="text-center">
                  <div>{{user.fullname}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
                <td class="text-center">
                  <div>{{user.email}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
                <td class="text-center">
                  <div>{{user.phone}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
                <!-- <td class="text-center">
                  <div>{{user.vehicle}}</div>
                  <div class="small text-muted">
                  </div>
                </td> -->
                <td class="text-center" (click)="editUserForm(i)">
                  
                  <i class="fa fa-pencil"></i>
                </td>

              </tr>
            </tbody>
          </table>
 




<table class="table table-hover table-outline mb-0 hidden-sm-up-new">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <!--<th class="text-center">Email</th>-->
                <!--<th class="text-center">Vehicle No</th> -->
                <th class="text-center">Contact No</th>
                <th class="text-center">User Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data let i = index;">
                <td class="text-center">
                  <div class="avatar">
                    <img src={{user.profile_image}} class="img-avatar" alt="">
                   <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>{{user.fullname}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
                <!--<td>
                  <div>{{user.email}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
                <td>
                  <div>{{user.vehicle}}</div>
                  <div class="small text-muted">
                  </div>
                </td>-->

               
                <td class="text-center">
                  <div>{{user.phone}}</div>
                  <div class="small text-muted">
                  </div>
                </td>
                <td class="text-center" (click)="UserDetailsForm(i)">
                  
                  <i class="fa fa-pencil"></i>
                </td>

              </tr>
            </tbody>
          </table>





<popup  #popup6 (confirmClick)="updateUser()" class="responsive_popup">
  <!--<th class="text-center">Email</th>
      <th class="text-center">Contact No</th>-->
      <div>
        <p><b>Email</b> - {{userData.email}}</p>
        <p><b>Contact No</b> - {{userData.phone}}</p>
      </div>
      

          <form class="form-horizontal popup_from">
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" name="fullname" [(ngModel)]="userData.fullname" id="name" placeholder="Enter your full name">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                <input type="email" class="form-control" name="email" [(ngModel)]="userData.email" id="email" placeholder="Enter your email">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                 <input type="email" class="form-control" name="phone" [(ngModel)]="userData.phone" id="phone" placeholder="Enter your phone number">
                </div>
                </div>
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="city" [(ngModel)]="userData.cityname" id="city" placeholder="Enter your City">
                </div>
               </div>
               <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="vehicle" [(ngModel)]="userData.vehicle" id="vehicle" placeholder="Enter your vehicle ">
                </div>
               </div>  
        </form>      
  </popup>





    <popup  #popup5 (confirmClick)="updateUser()" class="responsive_popup">
          <form class="form-horizontal popup_from">
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" name="fullname" [(ngModel)]="userData.fullname" id="name" placeholder="Enter your full name">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                <input type="email" class="form-control" name="email" [(ngModel)]="userData.email" id="email" placeholder="Enter your email">
                </div>
            </div>
             <div class="form-group">
                <div class="col-lg-12">
                 <input type="email" class="form-control" name="phone" [(ngModel)]="userData.phone" id="phone" placeholder="Enter your phone number">
                </div>
                </div>
            <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="city" [(ngModel)]="userData.cityname" id="city" placeholder="Enter your City">
                </div>
               </div>
               <div class="form-group">
                <div class="col-lg-12">
                  <input type="email" class="form-control" name="vehicle" [(ngModel)]="userData.vehicle" id="vehicle" placeholder="Enter your vehicle ">
                </div>
               </div>  
        </form>      
  </popup>

          <!--onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"-->

      <!-- <div id="light" class="white_content">
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name">
              </div>
            </div>
          </div>-->
          <!--/.row-->
         <!-- <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">Email Id</label>
                <input type="text" class="form-control" id="email" placeholder="email">
              </div>
            </div>
          </div>-->
          <!--/.row-->
         <!-- <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="editData()">Edit</button>
            </div>
          </div>
          
        </div>
        </div>
        
        <div id="fade" class="black_overlay"></div> -->
